.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.input {
  width: 300px;
  height: 30px;
  padding: 5px;
  margin-right: 20px;
  border: solid 2px #000;
  border-radius: 10px;
  outline: none;
}

.searchButton {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: rgba(92, 91, 91, 0.644);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.mainTitle {
  margin-top: 15px;
  margin-bottom: 30px;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: -10px;
  padding: 0;
}

.movieListItem {
  margin: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 5px 1px rgba(34, 60, 80, 0.6);
  /* transform: scale(5px); */
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movieListItem:hover,
.movieListItem:focus {
  transform: scale(1.05);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.linkToFilm {
  text-decoration: none;
}

.movieCard {
  width: 200px;
}

.thumb {
  position: relative;
  height: 300px;
}

.voteRate {
  position: absolute;
  width: 23px;
  top: 12px;
  left: 12px;
  color: #000;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(58, 238, 52);
}

.thumb > img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.movieTitle {
  margin: 0;
  padding: 10px;
}
