.castList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.castList p {
  margin: 10px 0;
}

.castList img {
  display: block;
  width: 200px;
  height: 300px;
}
